/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    nav{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 1rem; /* Отступ по бокам */
    }
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    nav img{
        margin-bottom: 10px;
        margin-left: 0;
    }
    nav ul li{
        margin: 0.5rem 0;
    }
    .nav-toggle-label {
        display: block;
    }
    /*  Скрываем навигацию, что бы использовать кнопку */
    #nav-menu {
        position: fixed;
        top: 0;
        right: 0;
        background-color: black;
        height: 100vh;
        width: 250px;
        padding-top: 50px;
        z-index: 1000;
    }
    #nav-menu img{
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .our_cases h1{
        font-size: 1.7rem;
    }
    .switch_category h2 {
        font-size: 1.3rem;
    }
    .cases-grid {
        grid-template-columns: 1fr;
    }
    .footer-content{
        flex-direction: column;
        text-align: center;
    }
    .footer-content > * {
        margin-bottom: 1rem;
    }
    .hero-content h1 {
        font-size: 4rem;
    }
    .hero-content p {
        font-size: 1.2rem;
    }
    .general {
        height: 70vh;
    }
}

/* Добавляем промежуточные медиазапросы для более плавного изменения на планшетах и ноутбуках */
@media (min-width: 769px) and (max-width: 992px) {
    nav {
        width: 95%;
    }
    nav ul li {
        font-size: 1.1rem;
        margin: 0 1.2rem;
    }
    nav img{
        margin-left: 1.5rem;
    }
    .our_cases h1{
        font-size: 1.8rem;
    }
    .switch_category h2 {
        font-size: 1.4rem;
    }
    .cases-grid {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
    .hero-content h1 {
        font-size: 4.5rem;
    }
    .hero-content p {
        font-size: 1.3rem;
    }
    .general {
        height: 80vh;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    nav {
        width: 90%;
    }
    nav ul li {
        font-size: 1.1rem;
        margin: 0 1.3rem;
    }
    nav img{
        margin-left: 1.5rem;
    }
    .our_cases h1{
        font-size: 1.9rem;
    }
    .switch_category h2 {
        font-size: 1.4rem;
    }
    .hero-content h1 {
        font-size: 5rem;
    }
    .hero-content p {
        font-size: 1.4rem;
    }
    .general {
        height: 83vh;
    }
}

@media (min-width: 1201px) {
    nav {
        width: 80%;
    }
    nav ul li {
        font-size: 1.2rem;
        margin: 0 1.5rem;
    }
    nav img{
        margin-left: 2rem;
    }
    .our_cases h1{
        font-size: 2rem;
    }
    .switch_category h2 {
        font-size: 1.5rem;
    }
    .hero-content h1 {
        font-size: 6rem;
    }
    .hero-content p {
        font-size: 1.5rem;
    }
    .general {
        height: 85vh;
    }
}

@media (max-width: 768px) {
    .content-types-grid {
        grid-template-columns: 1fr;
    }
    .content-types-items-group {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}